<launch>
  <!-- THIS WAS PROVIDED BY THE CONSTRUCT-->
  <!-- Demonstrates how non-static frames cannot be determined 
  via URDF file and the robot_state_publisher.-->
  
  <!-- Load the URDF file in the param server variable robot_description if it wasn't loaded before -->
  <param name="robot_description" command="cat $(find pi_robot_pkg)/urdf/pi_robot_v2.urdf" />

  <!-- Publish TF with robot_state_publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/pi_robot/joint_states" />
  </node>

</launch>