<?xml version="1.0" encoding="UTF-8"?>
<!-- THIS WAS PROVIDED BY THE CONSTRUCT-->
<launch>
    <include file="$(find my_mira_description)/launch/mira/spawn_urdf.launch">
        <arg name="x" value="0.0" />
        <arg name="y" value="0.0" />
        <arg name="z" value="0.2" />
        <arg name="urdf_robot_file" value="$(find my_mira_description)/urdf/mira_simple_collisions_inertias.urdf" />
        <arg name="robot_name" value="mira" />
    </include>
</launch>